.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    border: solid black 1px;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(140, 78, 78);
    font-size: 72px;
    margin: 50px 0;
}

#new-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

#new-numbers:hover {
    width: 400px;
    background-color: rgb(15, 222, 15);
    transition: 1s;
}

#new-numbers, img {
    padding-left: 30px;
}